@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 768px){
    
                      /*HEADER*/
    
    header{
        background: url('../images/mobile/image-hero.jpg') center center /cover no-repeat ;
        height: 95vh;
        width: 100vw;
        
    }
    header h1{
        padding: 60px 0px 0px 0px;
        color: white;
    }

    .container{
        position: relative;
    }
    #menu{
        display: block;
        color: white;
        font-size: 2em;
        margin: 0 14vw 0 0;
        padding-top: 60px;
        cursor: pointer;
    }
    #menu2{
        display: block;
        color: white;
        font-size: 2em;
        margin: 0 14vw 0 0;
        padding-top: 60px;
        cursor: pointer;
    }
    nav#itens{
        display: none;

        background-color: black;
        width: 100vw;
        height: 96vh;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    .container2{
        display: flex;
        justify-content: space-between;
    }
    .container2 h1{
        display: block;
    }
    nav.nav1 > ul{
        margin: 9vh 0 0 11vw;
    }
    nav#itens.nav1 > ul > li{
        display: block;
        margin: 0 0 0 0;
        padding: 40px 0 0 0;
        font-size: 1.2em;
    }
    div#conteudo0{
        margin-left: -5px;
        margin-top: 24vh;
        width: 100%;
        height: 172px;
        border: 2px solid white;
    }
    div#conteudo0 > p{
        color: white;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        font-size: 2.4em;
        margin: 26px 0px 0px 20px;
    }
                           /*header*/
                           /*MAIN*/
    
                       
    div#imagem{
        display: block;
        height: 46vh;
        width: 78vw;
        margin: 100px auto;
    }
    div#conteudo1{
        position: relative;
        transform: translate(-48vw);
        display: block;
        margin: auto;
        background-color: white;
        height: 71px;
        width: 300px;
        padding: 0 0 0 0;
    }
    div#conteudo1  h2{
        color: rgb(39, 39, 39);
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300 bolder;
        font-size: 2em;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    div#conteudo1  p{
        color: #838282;
        font-family: 'Josefin Sans',sans-serif;
        line-height: 1.3rem;
        text-align: center;
        margin: 0;
        margin-top: 15px;
        padding: 0;

    }                         /*GRID*/
    
    div#ourscreation h2{
        font-size: 2rem;
        margin: auto;
    }
    #p1{
        display: none;
    }
    #p2{
        display: block;
        width: 90px;
        height: 20px;
        margin: 40px;
        margin-left: 16%;

    }
    div.conteudo2{
    

        display: grid;
        grid-template-rows: 21.4vh;
        grid-template-columns: 65vw;
        gap: 50px;
        align-content: center;
        justify-content: center;
        
    } 
    div.itens{
         height: 21.7vh;
         width: 65vw;
         min-width: 60vw;
         cursor: pointer;
    }   
    div.itens p{
         padding: 49px 25px 22px 22px;

    }
    
    div#iten1{
        background: url('../images/mobile/image-deep-earth.jpg') center center /cover no-repeat;
    }       
    div#iten2{
        background: url('../images/mobile/image-night-arcade.jpg') center center /cover no-repeat;
    }        
    div#iten3{
        background: url('../images/mobile/image-soccer-team.jpg') center center /cover no-repeat;
    }                
    div#iten4{
        background: url('../images/mobile/image-grid.jpg') center center /cover no-repeat;
    }       
    div#iten5{
        background: url('../images/mobile/image-from-above.jpg') center center /cover no-repeat;
    }       
    div#iten6{
        background: url('../images/mobile/image-pocket-borealis.jpg') center center /cover no-repeat;
    }       
    div#iten7{
        background: url('../images/mobile/image-curiosity.jpg') center center /cover no-repeat;
    }       
    div#iten8{
        background: url('../images/mobile/image-fisheye.jpg') center center /cover no-repeat;
    }       
    
                                              /*GRID*/
                                              /*MAIN*/
}
@media screen and (min-width: 769px) and (max-width: 950px){
    div.conteudo2{
        grid-template-columns: 210px 210px;
    }
    div#conteudo1{
        height: 60vh;
        top: 157%;
        left: 51%;
    }
    div#conteudo1  h2{
        font-size: 2rem;
    }
    div#conteudo1  p{
        font-size: 0.8rem;
    }
    div.redes  {
        margin: -85px 3vw 0 2vw;
     }
}
@media screen and (min-width: 951px){
    div.conteudo2{
        grid-template-columns: 210px 210px 210px;
    }
}

@media screen and (min-width: 1172px){
    div.conteudo2{
        grid-template-columns: 210px 210px 210px 210px;
    }
}