@charset "UTF-8";

@media screen and(max-width: 768px){
    
}
@media screen and (min-width: 769px) and (max-width: 950px){
    div.conteudo2{
        grid-template-columns: 210px 210px;
    }
    div#conteudo1  h2{
        font-size: 2rem;
    }
    div#conteudo1  p{
        font-size: 0.8rem;
    }
    div.redes  {

        margin: -85px 3vw 0 2vw;
     }
}
@media screen and (min-width: 951px){
    div.conteudo2{
        grid-template-columns: 210px 210px 210px;
    }
}

@media screen and (min-width: 1172px){
    div.conteudo2{
        grid-template-columns: 210px 210px 210px 210px;
    }
}